

name: Mobile Price Prediction

on:

  push:

    branches:

      - main  

 

jobs:

  analyze_data:

    runs-on: ubuntu-latest

 

    steps:

    - name: Checkout Repository

      uses: actions/checkout@v2

 

    - name: Set up Python

      uses: actions/setup-python@v2

      with:

        python-version: 3.8

 

    - name: Install Dependencies

      run: |

        python -m pip install --upgrade pip

        pip install pandas openpyxl

        pip install matplotlib

        pip install seaborn

        pip install -U scikit-learn

 

    - name: Run Analysis

      run: python Girish_Assignment_3.5_Mobile_Price/Mobile_Price_Prediction.py
      
